venv
.venv
.ruff_cache
.idea
.mypy_cache
.vscode
__pycache__
.pytest_cache
dist/
build/
.pyre/
*.egg-info/
.eggs/
.coverage
.DS_Store
.pyre_configuration
*.ipynb_checkpoints/
.watchmanconfig
version.tmp
cache/
